*{
    margin: 0px; padding: 0px;
}
body{
    background-color: #2E1E0F;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1{
    color: beige;
    font-size: 5vmin;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin; width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin; width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(240, 247, 87, 0.5);
    font-size: 8vmin;
    color: #6F1A07;
    background-color: rgb(228, 235, 211);
}

#reset-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #140152;
    color: #c3ddcf;
    border: nonelet ;
    box-shadow: 0 0 5px #aaa7b4;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#new-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #140152;
    color: #c3ddcf;
    border: nonelet ;
    box-shadow: 0 0 5px #aaa7b4;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#msg{
    color: beige;
    font-size: 5vmin;
}

.msg-container{
    height: 30vmin;
}

.hide{
    display: none;
}